# Ignore all video files across the repo
*.mp4
*.MP4
*.mov
*.MOV
*.mkv
*.MKV
*.avi
*.AVI
*.wmv
*.WMV
*.flv
*.FLV
*.webm
*.WEBM
*.m4v
*.M4V
*.mpg
*.MPG
*.mpeg
*.MPEG
*.ogv
*.OGV
*.3gp
*.3GP
*.3g2
*.3G2
*.mxf
*.MXF
*.mts
*.MTS
*.m2ts
*.M2TS
*.vob
*.VOB
*.f4v
*.F4V